[Unit]
Description=MITM Proxy and Logger

[Service]
ExecStartPre=mkdir -p /var/log/mitmproxy
ExecStartPre=chown $USER.$USER /var/log/mitmproxy
User=$USER
WorkingDirectory=$PWD
ExecStart=make start > /var/log/mitmproxy/dumplog 2>/var/log/mitmproxy/errorlog
ExecStartPost=bash -c "cd /var/log/mitmproxy && \
 for i in $(seq 9 -1 1); do \
  if [ -e dumplog.$i ]; then mv dumplog.$i dumplog.$((i + 1)); fi; \
  if [ -e errorlog.$i ]; then mv errorlog.$i errorlog.$((i + 1)); fi; \
 done; \
 for log in dumplog errorlog; do touch $log; mv $log $log.1; done; \
 rm -f *log.10"
Restart=always

[Install]
WantedBy=default.target
