[Unit]
Description=MITM Proxy and Logger

[Service]
ExecStartPre=bash -c "cd $LOGDIR && \
 for i in $(seq 9 -1 1); do \
  if [ -e dumplog.$i ]; then mv dumplog.$i dumplog.$((i + 1)); fi; \
  if [ -e errorlog.$i ]; then mv errorlog.$i errorlog.$((i + 1)); fi; \
 done; \
 for log in dumplog errorlog; do touch $log; mv $log $log.1; done; \
 rm -f *log.10"
User=$USER
WorkingDirectory=$PWD
ExecStart=make launch
Restart=always

[Install]
WantedBy=default.target
